{{> leftrail}}
<div class="right" ng-controller="billingsController" data-ng-init="init()">
  <div class="heading-section">
    <h3>Billings</h3>
    <p>View your billings history as below</p>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Due Date</th>
          <th>Amount($)</th>
          {{#equal _role "customer"}}
          {{else}}
          <th>User Email</th>
          {{/equal}}
          <th>Paid</th>
        </tr>
      </thead>
      <tbody>
      {{#equal _role "customer"}}
        {{{{raw-helper}}}}
        <tr ng-repeat="billing in billings">
          <td>{{$index + 1}}</td>
          <td>{{displayDate(billing.startDate)}}</td>
          <td>{{displayDate(billing.endDate)}}</td>
          <td>{{displayDate(billing.dueDate)}}</td>
          <td>${{billing.amount}}</td>
          <td>{{billing.isPaid}}</td>
        </tr>
        {{{{/raw-helper}}}}
      {{else}}
        {{{{raw-helper}}}}
        <tr ng-repeat="billing in billings">
          <td>{{$index + 1}}</td>
          <td>{{displayDate(billing.startDate)}}</td>
          <td>{{displayDate(billing.endDate)}}</td>
          <td>{{displayDate(billing.dueDate)}}</td>
          <td>${{billing.amount}}</td>
          <td>{{billing.User.email}}</td>
          <td>{{billing.isPaid}}</td>
        </tr>
        {{{{/raw-helper}}}}
      {{/equal}}
      </tbody>
    </table>
  </div>
</div>
<script src="../js/controllers/billings.js"></script>
