<link rel="stylesheet" type="text/css" href="../css/instances.css">
{{> leftrail}}
{{{{raw-helper}}}}
<div class="right" ng-controller="createSensorController" ng-init="init()">
  <div class="heading-section">
    <h3>Create Sensor</h3>
    <p>Create a new sensor with pre-configured type provided by app</p>
  </div>
  <div>
    <form class="form-create-instance" ng-submit="createSensors()">
      <div>
        <label for="inputName">Sensor Name</label>
        <input type="text" id="inputName" ng-model="formSensor.name" class="form-control" placeholder="Sensor name" required autofocus>
      </div>
      <div>
        <label for="inputDesc">Sensor Description</label>
        <input type="text" id="inputDesc" ng-model="formSensor.description" class="form-control" placeholder="Sensor description" required>
      </div>
      <div>
      <div class="form-group sensor-type">
          <label for="sensor-type">Select sensor type:</label>
          <select class="form-control" ng-model="formSensor.type">
            <option ng-repeat="type in sensors_type" value={{type.id}}>{{type.type}}</option>
          </select>
        </div>
      </div>
      <div>
        <div class="form-group storage-type">
          <label for="storage-type">Select storage type:</label>
          <select class="form-control" ng-model="formSensor.storages">
            <option value="2G">2G</option>
            <option value="4G">4G</option>
            <option value="8G">8G</option>
            <option value="16G">16G</option>
          </select>
        </div>
      </div>
      <div class="form-group host-type">
        <label for="host-type">Select a bus:</label>
        <select class="form-control" ng-model="formSensor.host_id">
          <option ng-repeat="type in buses_type" value={{type.id}}>{{type.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary submit-form">Create Sensor</button>
    </form>
  </div>
</div>
{{{{/raw-helper}}}}
<script src="../js/controllers/create_sensor.js"></script>
